<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lista de Clientes</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>Lista de Clientes</h1>

        <a href="/novo">
            <button>Novo Cliente</button>
        </a>

        <label for="pesquisa">Pesquisar cliente: </label>
        <input class="pesquisa" type="text" placeholder="Pesquisar por nome" />
        <button>Pesquisar</button>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data/Nasc</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th class="centralizado">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% clientes.forEach((cliente) => { %>
                <tr>
                    <td><%= cliente.id %></td>
                    <td><%= cliente.nome %></td>
                    <td><%= cliente.nascimento %></td>
                    <td><%= cliente.cpf %></td>
                    <td><%= cliente.endereco %></td>
                    <td><%= cliente.telefone %></td>
                    <td><%= cliente.email %></td>
                    <td class="centralizado">
                        <form
                            action="/editar/<%= cliente.id %>"
                            method="GET"
                            style="display: inline"
                        >
                            <button type="submit" class="editar">Editar</button>
                        </form>
                        <button
                            type="button"
                            class="excluir"
                            onclick="confirmarExclusao('<%= cliente.id %>')"
                        >
                            Excluir
                        </button>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>

        <!-- Modal de Confirmação -->
        <div id="modalConfirmacao" class="modal">
            <div class="modal-content">
                <p>Deseja excluir este cliente?</p>
                <button id="confirmar" class="excluir">Sim</button>
                <button id="cancelar">Não</button>
            </div>
        </div>

        <script>
            function confirmarExclusao(clienteId) {
                const modal = document.getElementById("modalConfirmacao");
                modal.style.display = "block";

                // Configura ação de confirmação
                const confirmar = document.getElementById("confirmar");
                confirmar.onclick = function () {
                    const form = document.createElement("form");
                    form.method = "POST";
                    form.action = `/excluir/${clienteId}`; // Template string
                    document.body.appendChild(form);
                    form.submit();
                };

                // Configura ação de cancelamento
                const cancelar = document.getElementById("cancelar");
                cancelar.onclick = function () {
                    modal.style.display = "none";
                };

                // Fecha modal ao clicar fora
                window.onclick = function (event) {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                };
            }
        </script>
    </body>
    <footer>

    </footer>
</html>
